<a href="https://colab.research.google.com/github/FilipeVinicius/Analise_de_dados/blob/main/%5BLinguagem_R%5D_EAD_Semana_13_Filipe_Vinicius_Vieira_da_Silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0. Utilizando a linguagem de programação R e a função de leitura de dados aprendida em
aula, carregue o conjunto de dados do Titanic em um dataframe chamado df.

In [1]:
url = "https://raw.githubusercontent.com/gazzola/dataset_students/main/titanic_passageiros.csv"
df <- read.csv(url)
df

     X    PassengerId Survived Pclass
1     1    1          0        3
2     2    2          1        1
3     3    3          1        3
4     4    4          1        1
5     5    5          0        3
6     6    6          0        3
7     7    7          0        1
8     8    8          0        3
9     9    9          1        3
10   10   10          1        2
11   11   11          1        3
12   12   12          1        1
13   13   13          0        3
14   14   14          0        3
15   15   15          0        3
16   16   16          1        2
17   17   17          0        3
18   18   18          1        2
19   19   19          0        3
20   20   20          1        3
21   21   21          0        2
22   22   22          1        2
23   23   23          1        3
24   24   24          1        1
25   25   25          0        3
26   26   26          1        3
27   27   27          0        3
28   28   28          0        1
29   29   29          1        3
30   30   30          0        3
⋮    ⋮    ⋮           ⋮        ⋮
1280 1280 1280        NA       3
1281 1281 1281        NA       3
1282 1282 1282        NA       1
1283 1283 1283        NA       1
1284 1284 1284        NA       3
1285 1285 1285        NA       2
1286 1286 1286        NA       3
1287 1287 1287        NA       1
1288 1288 1288        NA       3
1289 1289 1289        NA       1
1290 1290 1290        NA       3
1291 1291 1291        NA       3
1292 1292 1292        NA       1
1293 1293 1293        NA       2
1294 1294 1294        NA       1
1295 1295 1295        NA       1
1296 1296 1296        NA       1
1297 1297 1297        NA       2
1298 1298 1298        NA       2
1299 1299 1299        NA       1
1300 1300 1300        NA       3
1301 1301 1301        NA       3
1302 1302 1302        NA       3
1303 1303 1303        NA       1
1304 1304 1304        NA       3
1305 1305 1305        NA       3
1306 1306 1306        NA       1
1307 1307 1307        NA       3
1308 1308 1308        NA       3
1309 1309 1309        NA       3
     Name                                                            Sex
1    Braund, Mr. Owen Harris                                         male
2    Cumings, Mrs. John Bradley (Florence Briggs Thayer)             female
3    Heikkinen, Miss. Laina                                          female
4    Futrelle, Mrs. Jacques Heath (Lily May Peel)                    female
5    Allen, Mr. William Henry                                        male
6    Moran, Mr. James                                                male
7    McCarthy, Mr. Timothy J                                         male
8    Palsson, Master. Gosta Leonard                                  male
9    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)               female
10   Nasser, Mrs. Nicholas (Adele Achem)                             female
11   Sandstrom, Miss. Marguerite Rut                                 female
12   Bonnell, Miss. Elizabeth                                        female
13   Saundercock, Mr. William Henry                                  male
14   Andersson, Mr. Anders Johan                                     male
15   Vestrom, Miss. Hulda Amanda Adolfina                            female
16   Hewlett, Mrs. (Mary D Kingcome)                                 female
17   Rice, Master. Eugene                                            male
18   Williams, Mr. Charles Eugene                                    male
19   Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)         female
20   Masselmani, Mrs. Fatima                                         female
21   Fynney, Mr. Joseph J                                            male
22   Beesley, Mr. Lawrence                                           male
23   McGowan, Miss. Anna "Annie"                                     female
24   Sloper, Mr. William Thompson                                    male
25   Palsson, Miss. Torborg Danira                                   female
26   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)       female
27   Emir, Mr. Farred Chehab                                         male
28   Fortune, Mr. Charles Alexander                                  male
29   O'Dwyer, Miss. Ellen "Nellie"                                   female
30   Todoroff, Mr. Lalio                                             male
⋮    ⋮                                                               ⋮
1280 Canavan, Mr. Patrick                                            male
1281 Palsson, Master. Paul Folke                                     male
1282 Payne, Mr. Vivian Ponsonby                                      male
1283 Lines, Mrs. Ernest H (Elizabeth Lindsey James)                  female
1284 Abbott, Master. Eugene Joseph                                   male
1285 Gilbert, Mr. William                                            male
1286 Kink-Heilmann, Mr. Anton                                        male
1287 Smith, Mrs. Lucien Philip (Mary Eloise Hughes)                  female
1288 Colbert, Mr. Patrick                                            male
1289 Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli) female
1290 Larsson-Rondberg, Mr. Edvard A                                  male
1291 Conlon, Mr. Thomas Henry                                        male
1292 Bonnell, Miss. Caroline                                         female
1293 Gale, Mr. Harry                                                 male
1294 Gibson, Miss. Dorothy Winifred                                  female
1295 Carrau, Mr. Jose Pedro                                          male
1296 Frauenthal, Mr. Isaac Gerald                                    male
1297 Nourney, Mr. Alfred (Baron von Drachstedt")"                    male
1298 Ware, Mr. William Jeffery                                       male
1299 Widener, Mr. George Dunton                                      male
1300 Riordan, Miss. Johanna Hannah""                                 female
1301 Peacock, Miss. Treasteall                                       female
1302 Naughton, Miss. Hannah                                          female
1303 Minahan, Mrs. William Edward (Lillian E Thorpe)                 female
1304 Henriksson, Miss. Jenny Lovisa                                  female
1305 Spector, Mr. Woolf                                              male
1306 Oliva y Ocana, Dona. Fermina                                    female
1307 Saether, Mr. Simon Sivertsen                                    male
1308 Ware, Mr. Frederick                                             male
1309 Peter, Master. Michael J                                        male
     Age  SibSp Parch Ticket             Fare     Cabin       Embarked
1    22   1     0     A/5 21171            7.2500             S
2    38   1     0     PC 17599            71.2833 C85         C
3    26   0     0     STON/O2. 3101282     7.9250             S
4    35   1     0     113803              53.1000 C123        S
5    35   0     0     373450               8.0500             S
6    NA   0     0     330877               8.4583             Q
7    54   0     0     17463               51.8625 E46         S
8     2   3     1     349909              21.0750             S
9    27   0     2     347742              11.1333             S
10   14   1     0     237736              30.0708             C
11    4   1     1     PP 9549             16.7000 G6          S
12   58   0     0     113783              26.5500 C103        S
13   20   0     0     A/5. 2151            8.0500             S
14   39   1     5     347082              31.2750             S
15   14   0     0     350406               7.8542             S
16   55   0     0     248706              16.0000             S
17    2   4     1     382652              29.1250             Q
18   NA   0     0     244373              13.0000             S
19   31   1     0     345763              18.0000             S
20   NA   0     0     2649                 7.2250             C
21   35   0     0     239865              26.0000             S
22   34   0     0     248698              13.0000 D56         S
23   15   0     0     330923               8.0292             Q
24   28   0     0     113788              35.5000 A6          S
25    8   3     1     349909              21.0750             S
26   38   1     5     347077              31.3875             S
27   NA   0     0     2631                 7.2250             C
28   19   3     2     19950              263.0000 C23 C25 C27 S
29   NA   0     0     330959               7.8792             Q
30   NA   0     0     349216               7.8958             S
⋮    ⋮    ⋮     ⋮     ⋮                  ⋮        ⋮           ⋮
1280 21.0 0     0     364858               7.7500             Q
1281  6.0 3     1     349909              21.0750             S
1282 23.0 0     0     12749               93.5000 B24         S
1283 51.0 0     1     PC 17592            39.4000 D28         S
1284 13.0 0     2     C.A. 2673           20.2500             S
1285 47.0 0     0     C.A. 30769          10.5000             S
1286 29.0 3     1     315153              22.0250             S
1287 18.0 1     0     13695               60.0000 C31         S
1288 24.0 0     0     371109               7.2500             Q
1289 48.0 1     1     13567               79.2000 B41         C
1290 22.0 0     0     347065               7.7750             S
1291 31.0 0     0     21332                7.7333             Q
1292 30.0 0     0     36928              164.8667 C7          S
1293 38.0 1     0     28664               21.0000             S
1294 22.0 0     1     112378              59.4000             C
1295 17.0 0     0     113059              47.1000             S
1296 43.0 1     0     17765               27.7208 D40         C
1297 20.0 0     0     SC/PARIS 2166       13.8625 D38         C
1298 23.0 1     0     28666               10.5000             S
1299 50.0 1     1     113503             211.5000 C80         C
1300   NA 0     0     334915               7.7208             Q
1301  3.0 1     1     SOTON/O.Q. 3101315  13.7750             S
1302   NA 0     0     365237               7.7500             Q
1303 37.0 1     0     19928               90.0000 C78         Q
1304 28.0 0     0     347086               7.7750             S
1305   NA 0     0     A.5. 3236            8.0500             S
1306 39.0 0     0     PC 17758           108.9000 C105        C
1307 38.5 0     0     SOTON/O.Q. 3101262   7.2500             S
1308   NA 0     0     359309               8.0500             S
1309   NA 1     1     2668                22.3583             C

1. Execute a função head(df) para visualizar as primeiras linhas do dataframe e assegurar que os
dados foram carregados corretamente.

Resposta: Como podemos ver, foi carregado as 6 primeiras linhas do DataFrame do Titanic (O head por padrão carrega as 6 primeiras linhas), portanto, podemos garantir que os dados foram carregados corretamente

In [2]:
head(df)

  X PassengerId Survived Pclass
1 1 1           0        3
2 2 2           1        1
3 3 3           1        3
4 4 4           1        1
5 5 5           0        3
6 6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

2. Utilize a função summary(df) em R para gerar um resumo estatístico do dataframe. Examine
as estatísticas apresentadas, que incluem medidas descritivas para variáveis numéricas e
contagens para variáveis categóricas. Reflita sobre as informações obtidas e identifique
padrões ou características interessantes nos dados.

Resposta:

Os NA's da coluna Survived indicam que, para 418 pessoas não se sabe o que aconteceu com elas ou se apenas os dados estavam incompletos

Pclass: A mediana é 3, o que indica que muitos passageiros eram de classes mais baixas

SibSp: a maioria das pessoas estavam sozinhos ou com até 1 acompanhante

In [3]:
summary(df)

       X         PassengerId      Survived          Pclass
 Min.   :   1   Min.   :   1   Min.   :0.0000   Min.   :1.000
 1st Qu.: 328   1st Qu.: 328   1st Qu.:0.0000   1st Qu.:2.000
 Median : 655   Median : 655   Median :0.0000   Median :3.000
 Mean   : 655   Mean   : 655   Mean   :0.3838   Mean   :2.295
 3rd Qu.: 982   3rd Qu.: 982   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :1309   Max.   :1309   Max.   :1.0000   Max.   :3.000
                               NA's   :418
     Name               Sex                 Age            SibSp
 Length:1309        Length:1309        Min.   : 0.17   Min.   :0.0000
 Class :character   Class :character   1st Qu.:21.00   1st Qu.:0.0000
 Mode  :character   Mode  :character   Median :28.00   Median :0.0000
                                       Mean   :29.88   Mean   :0.4989
                                       3rd Qu.:39.00   3rd Qu.:1.0000
                                       Max.   :80.00   Max.   :8.0000
                                       NA's   :263
     Parch          Ticket               Fare            Cabin
 Min.   :0.000   Length:1309        Min.   :  0.000   Length:1309
 1st Qu.:0.000   Class :character   1st Qu.:  7.896   Class :character
 Median :0.000   Mode  :character   Median : 14.454   Mode  :character
 Mean   :0.385                      Mean   : 33.295
 3rd Qu.:0.000                      3rd Qu.: 31.275
 Max.   :9.000                      Max.   :512.329
                                    NA's   :1
   Embarked
 Length:1309
 Class :character
 Mode  :character

3. Utilize a função str(df) para visualizar a estrutura do dataframe df. Analise as informações
fornecidas pela função, incluindo os tipos de dados das variáveis e uma prévia das primeiras
observações. Reflita sobre a composição do dataframe, identificando o tipo de dado de cada
variável.

Resposta:
Variáveis X, PassengerId, Survived, Pclass, SibSp e Parch são do tipo inteiras.

Variáveis Name, Sex, Ticket, Cabin e Embarked são do tipo "character"

Variáveis Age e Fare são do tipo "numeric"

In [4]:
str(df)

'data.frame':	1309 obs. of  13 variables:
 $ X          : int  1 2 3 4 5 6 7 8 9 10 ...
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...

4. Determine a quantidade de valores nulos presentes no dataframe Titanic, utilizando apenas
funções e métodos aprendido em aula.

Resposta:

A quantidade de valores nulos presentes no dataframe Titanic são 682, sendo 418 da variável Survived, 263 da variável Age e 1 da variável Fare (valores esses que são possíveis de serem identificados através do summary deste dataframe)

In [8]:
sum(is.na(df))

[1] 682

5. Escreva a seguinte linha de código

table(df$Pclass)

Observando a Tabela 1, apresente o resultado e o que representam os valores retornados?

Resposta:

Os valores que foram retornados representam a classe (1 2 3) e, embaixo de cada classe, a quantidade de pessoas que estavam em uma determinada classe. Ou seja, na classe 1, estavam 323 pessoas, na classe 2 estavam 277 pessoas e, por fim, na classe 3 estavam 709 pessoas.

É possível confirmar isso através do sum(df$Pclass == 1), que retorna 323, que é exatamente o número de pessoas que estavam na classe 1

In [9]:
table(df$Pclass)

  1   2   3
323 277 709

In [10]:
sum(df$Pclass == 1)

[1] 323

6. Escreva a seguinte linha de código

table(df$Survived,df$Pclass)

Observando as informações apresentadas da Tabela 1 e os resultados obtidos, interprete
os valores retornados?

Resposta:

Essa é uma matriz cujas as linhas representam 0 ou 1 (se tal passageiro sobreviveu (1) ou não (0)) e as colunas representam a que classe esse passageiro que sobreviveu.
Essa matriz serve para identificar a quantidade de passageiros que sobreviveram ou não e a que classe eles pertenciam.

Exemplo: a quantidade de pessoas que não sobreviveram e que estavam na classe 3 é de 372

In [11]:
table(df$Survived,df$Pclass)

      1   2   3
  0  80  97 372
  1 136  87 119

7. Escreva a seguinte linha de código

sobreviventes <- df$Survived

Some a quantidade de sobreviventes (utilizando a variável sobreviventes) usando apenas as
funções e os métodos aprendidos em aula.

Resposta:

Para somar a quantidade de sobreviventes, utilizamos "sobreviventes == 1" porque queremos fazer um filtro para pegar apenas as pessoas que sobreviveram (1) e usamos o "na.rm = TRUE" para remover os NA's

In [13]:
sobreviventes <- df$Survived
sum(sobreviventes == 1, na.rm = TRUE)

[1] 342

8. Qual é a média de idade dos passageiros? Calcule usando apenas as funções e os métodos
aprendidos em aula.

Resposta:

Para saber a média dos passageiros, utilizamos o mean() e, dentro dele, colocamos a variável que queremos saber a média (age) e colocamos o "na.rm = TRUE" para nao contabilizar os NA's na média

In [15]:
mean(df$Age, na.rm = TRUE)

[1] 29.88114

9- Crie uma função em R para calcular a variância da idade tendo como parâmetro o sexo.

Resposta:
 primeiro precisamos filtrar as linhas onde o sexo é igual ao valor que está no parâmetro (male ou female), em seguida, removemos as linhas onde Age é NA e, por fim, calculamos a variância das idades filtradas.

In [62]:
variancia <- function(sexo) {
  dados_filtrados <- df[df$Sex == sexo, ]
  idades <- dados_filtrados$Age[!is.na(dados_filtrados$Age)]
  return (var(idades))
}

In [65]:
variancia("male")

[1] 203.935

In [66]:
variancia("female")

[1] 212.4878